<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Power</title>
</head>
<body>
    <div class="crycle">
        <div class="point"></div>
    </div>
    <h3>
        "Knowledge is powerless when there is no <b class="impl">implementation</b>"
    </h3>
        <button onclick="Reload()">Referesh</button>
    
       <h4>description</h4> 
       <p>
            {{data[1]}}
       </p>
       
       <p>
            <b>year:</b> {{data[2]}}
       </p>
       <p>
           <b>Attack complixity:</b> <b>{{data[3]}}</b>
       </p>
    
    <script src="{{url_for('static',filename='app.js')}}"></script>
</body>
</html>